@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "Всички регистрирани потребители";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Имейл</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label>@user.Email</label></td>
            </tr>
        }
    </tbody>
</table>

 
