@{
    ViewBag.Title = "За нас";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="block">
    <div class="container">
        <div class="image">
            <img src="~/374346a028f8e8c5eef07f1b8ca49bf0.jpg" alt="Image">
        </div>
        <div class="text">
            <p><b>Осигуряваме за Вас:</b></p>
            <ul>
                <li>удобен транспорт на целия асортимент за цяла България (да не само, и в RO, CZ, HU, AT, SK, DE)</li>
                <li>доставка на стоките директно  до Вашия дом</li>
                <li>качване на продуктите до етаж</li>
                <li>монтаж на всички тапицирани мебели като холни гарнитури и легла</li>
                <li>извозване на опаковачния материал - извозване на Вашите стари или вече ненужни мебели.</li>
            </ul>
            <p>Най-голямата ни мотивация е доволен клиент, който ще оцени доставените мебели и услугите, свързани с доставката. Такъв клиент знае, че може да разчита на нас и да стане лоялен клиент.</p>
        </div>
    </div>
    <div class="container">
        <div class="text">
            <h2>Екипът на Оникс</h2>
            <p>Нашият отдел за обслужване на клиенти и нашите шофьори винаги се опитват да направят така,че клиентите да останат максимално доволни. Ние непрекъснато се развиваме въз основа на опита от последните години, как да избираме най-добрите доставчици, как да работим по-ефективно със складовите наличности, как безопасно да съхраняваме възможно най-много продукти и как да общуваме с клиентите.  Предлагаме и качване на продуктите до етаж. Ние непрекъснато обновяваме нашата гама. Целта на нашия екип е клиента да остане доволен, и за това ще направим всичко възможно.</p>
        </div>
        <div class="additional-image">
            <img src="~/5df99de3e4e7d129e8e8283398ca6679.jpg" alt="Additional Image">
        </div>
    </div>
</div>

<style>
    .block {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        font-family: Montserrat, open sans, Helvetica, Arial, sans-serif;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
    }

    .image {
        flex: 1;
        padding: 20px;
    }

        .image img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

    .text {
        flex: 1;
        padding: 20px;
        text-align: left;
    }

    .additional-image {
        flex: 1;
        padding: 20px;
    }

        .additional-image img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
</style>
 
 
 
 
 




 